.bakerloo-line {
    background: #894e24;
    color: white;
}

.central-line {
    background: #dc241f;
    color: white;
}

.circle-line {
    background: #ffce00;
    color: black;
    text-shadow: 0 1px 0 rgba(255,255,255,.6);
}

.district-line {
    background: #007229;
    color: white;
}

.hammersmith-city-line {
    background: #d799af;
    color: black;
    text-shadow: 0 1px 0 rgba(255,255,255,.6);
}

.jubilee-line {
    background: #6a7278;
    color: white;
}

.metropolitan-line {
    background: #751056;
    color: white
}

.northern-line {
    background: black;
    color: white;
}

.piccadilly-line {
    background: #0019a8;
    color: white;
}


.victoria-line {
    background: #00a0e2;
    color: black;
    text-shadow: 0 1px 0 rgba(255,255,255,.6)
}

.waterloo-city-line {
    background: #76d0bd;
    color: black;
    text-shadow: 0 1px 0 rgba(255,255,255,.6);
}

.dlr {
    background: #00afad;
    color: black;
    text-shadow: 0 1px 0 rgba(255,255,255,.6)
}

.overground {
    background: #e86a10;
    color: black;
    text-shadow: 0 1px 0 rgba(255,255,255,.6);
}

.tramlink {
    background: #6c0;
    color: white;
}

.cable-car {
    background: #E21836;
    color: white;
}

.crossrail {
    background: #7156A5;
}

.tfl-rail {
    background: #0019a8;
    color: white;
}